// Main logo

.onboard-logo {
  display: block;
  margin: @onboard-padding-vertical 0;
  .onboard-box-shadow();

  > img {
    max-width: 242px;

    // Pull the logo to the left to make the edge of the box line up with the
    // content below.
    margin-left: -@onboard-padding-horizontal;
  }

  @media (min-width: @screen-lg) {
    > img {
      max-width: 291px;
    }
  }
}

.sidebar-first-container {
  > .onboard-logo,
  .region-sidebar-first .block {
    margin-bottom: @onboard-padding-vertical + @onboard-shadow-offset;
  }

  > .onboard-logo {
    // @hack: Make the width artificially shorter because part of the image hangs
    // over the edge of the box
    width: 220px - @onboard-shadow-offset; 
  
    @media (min-width: @screen-lg) {
      // @hack: Get rid of a weird little gap below and to the right of the logo
      // image.
      width: 258px;
      height: 155px;
    }
  }
  
  .region-sidebar-first {
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    a, label {
      // The default for these is @dark-blue, the same as the background, so
      // we need to change it to make the text visible.
      color: #fff;
    }

    .block {
      padding: @onboard-padding-vertical 0;
      color: #fff;
      background-color: @dark-blue;
      .onboard-box-shadow();

      @media (min-width: @screen-md) {
        // @hack: Make the width artificially shorter because part of the image hangs
        // over the edge of the box
        width: 220px - @onboard-shadow-offset; 
      }

      @media (min-width: @screen-lg) {
        width: 260px;
      }

      .nav {
        > li > a {
          padding: @onboard-padding-vertical @onboard-padding-horizontal;
          font-size: @onboard-sidebar-font-size;
          font-weight: bold;
          color: @onboard-sidebar-nav-link-color; 

          &.active {
            color: @teal;
          }

          &:hover {
            background-color: @onboard-sidebar-nav-link-hover-bg;
          }
        }
      }

      form {
        padding: @onboard-padding-vertical @onboard-padding-horizontal;
      }

      #user-login-form {

        ul {
          // The default padding unneccessarilt indents the text.
          // This might be a useful style more generally, but only address it
          // here for now.         
          padding-left: @onboard-padding-horizontal;
        }
      }
    }

    .block-title {
      padding: (@onboard-padding-vertical / 2) @onboard-padding-horizontal 0 @onboard-padding-horizontal;
      margin-bottom: (@onboard-padding-vertical / 2); 
      color: @teal;
      font-size: @onboard-sidebar-font-size;
      font-weight: bold;
      text-transform: uppercase;

      span {
        display: block;
        width: 100%;
        padding-bottom: (@onboard-padding-vertical / 2);
        border-bottom: 1px solid @teal;
      }
    }
  }
}

.page-content-container {
  background-color: #fff;
  padding: @onboard-padding-vertical @onboard-padding-horizontal;
  .onboard-box-shadow();
}

// Pin

.pin {
  margin: -24px auto (@onboard-padding-vertical / 2);
  display: block;
  background-image: url(../img/pin.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;

  &.pin-blue {
    background-image: url(../img/pin-blue.png);
  }
}

// Typography

h1 {
  color: @headings-color-h1; 
}

h2 {
  color: @headings-color-h2;

  &:hover {
    color: @dark-blue;
    text-decoration: underline;
  }
}

.page-header {
  border-bottom: 2px solid @page-header-border-color;
}

.breadcrumb {
  padding-left: 0;
  font-size: @font-size-small;
}

// Navs

.nav-tabs {
  > li {
    > a {
      font-size: @font-size-base + 2px;
      font-weight: normal;

      &:hover {
        background-color: @gray-lighter;
      }
    }
  }
}

// Buttons

.btn {
  font-size: @font-size-base + 2px;

  &:hover, &:focus {
    color: @teal;
    border-color: @dark-blue;
    background-color: #e2e2e2;
  }
}

.btn-primary {
  &:hover, &:focus {
    background-color: @darker-blue; 
  }
}

// Boards

.node-type-board {
  .content {
    .left, .right {
      .make-md-column(@grid-columns / 2);
      padding-left: 0px;
    }
  }

  .field-label {
    color: @dark-blue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: @font-size-base + 1px;
  }

  .field-item {
    color: @gray-dark;
    font-size: @font-size-small;
  }

  .field {
    margin-bottom: @onboard-padding-horizontal;
  }

  .field-name-field-application-url {
    > a {
      .btn;
      color: #fff;
      background-color: @orange;
      font-size: @font-size-large;

      &:hover, &:focus {
        color: #fff;
        border-color: transparent;
        background-color: #e04617;
      }
    }
  }
}

.node-board {
  // "Add board term" link
  // If we add other links, we might have to revisit this
  .links {
    a {
      // Style the link like a button      
      .btn-sm;
      .btn-primary;
    }
  }

  // Board as listed on "My Boards" page
  &.node-teaser {
    h2 {
      margin-top: 0;
      color: @teal;

      &:hover {
        text-decoration: none;
      }

      a {
        color: @teal;

        &:hover {
          // We want a thicker border than what text-decoration: underline
          // offers
          text-decoration: none !important;
          border-bottom: 2px solid @teal;
        }
      }
    }
  }
}

.region-content .view-board-terms {
  margin-bottom: @onboard-padding-horizontal;

  .view-empty {
    margin-bottom: @onboard-padding-horizontal;
  }

  // We've moved the Board's management links here instead of showing them 
  // with the rest of the node
  .more-link,
  .onboard-management-links {
    float: left;
  }

  .onboard-management-links {
    padding-left: @onboard-padding-horizontal;
    
    li {
      margin-bottom: 0;
      list-style: none;
      display: inline-block;
    }
  }

  .more-link a,
  .onboard-management-links a {
    .btn-sm;
    .btn-primary;

    &:hover {
      color: @teal;
      text-decoration: none;
    }
  }
}

// Webforms

.node-type-webform {
  .field-name-field-body,
  .form-item,
  .description {
    margin-bottom: @onboard-padding-vertical;
  }

  .form-text.form-email {
    // @hack: For some reason, the email field doesn't get the .form-control
    // class. Give it the same styles.
    .form-control;
  }
}

// Public: cities view

.view-public-cities {

  // Front Page Block display

  &.view-display-id-block_1 {
    margin-top: @grid-gutter-width;

    .views-row {

      margin-bottom: @grid-gutter-width;

      @media (min-width: @screen-xs) {
        .make-xs-column(@grid-columns / 2);
      }

      @media (min-width: @screen-sm) {
        .make-sm-column(@grid-columns / 3);
      }

      @media (min-width: @screen-md-min) {
        .make-md-column(@grid-columns / 3);
      }

      .pin {
        z-index: 10;
        margin-top: 0;
        margin-bottom: -10px;
        position: relative;
      }

      .views-field-name {
        position: relative;
        border: 10px solid @teal2;
        background-color: white;

        &:hover {
          background-color: @yellow; 
        }

        @media (max-width: @screen-xs-max) {
          height: 200px;
        }

        @media (min-width: @screen-sm) {
          height: 220px;
        }

        @media (min-width: @screen-md) {
          height: 213px;
        }

        @media (min-width: @screen-lg) {
          height: 243px;
        }

        a {
          // Center using Absolute Centering technique.
          // See http://coding.smashingmagazine.com/2013/08/09/absolute-horizontal-vertical-centering-css/
          width: 90%;
          // @todo: Center 2-line values
          height: ceil(@font-size-base * 2); // ~28px
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          text-align: center;
          display: block;
          line-height: ceil(@line-height-base * (2/3));

          color: @orange;
          font-weight: bold;
          font-size: ceil(@font-size-base * 2); // ~28px
        } 
      }
    }
  }
}

// Forms

label {
  color: @dark-blue;
  font-size: @font-size-large;
  text-transform: uppercase;
}

.form-control {
  &:focus {
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(57, 181, 169)");
  }
}

// Tables

td {
  font-size: @font-size-small;
  color: @gray-dark;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  color: @dark-blue;
}

tbody:first-child td {
  border-top: 2px solid;
}

tbody:last-child td {
  border-bottom: 1px solid;
}
